:root {
    --text-color: black;
}

* { /* Reset margin and padding of elements to 0 */
    margin: 0; padding: 0;
}

/* Start Reset H1-6 Properties */
    h1, h2, h3, h4, h5, h6 {
        /* Default all heading elements to have left and right padding of .5rem or ~8px */
        text-transform: uppercase;
        padding-left: 1rem;
    }
        h1 { font-size: 200%; }
        h2 { font-size: 180%; }
        h3 { font-size: 160%; }
        h4 { font-size: 140%; }
        h5 { font-size: 120%; }
        h6 { font-size: 100%; }
/* End Reset H1-6 Properties */

/* Start Page Structure */
body { 
    display: flex; /* Set display of the body to flex so other elements flow */
    flex-flow: row wrap; /* Default flex display to row and wrap boxes */
    gap: 1rem; /* Set default gap between flexbox objects */
    font-size: 16px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    flex: 0 0 100%; /* Use 100% of the body */
    background-color: #777;
}

main {
    flex: 1 0 auto;
    background-color: pink;
}

aside { 
    flex: 0 0 200px;
    background-color: pink;
}

footer {
    flex: 0 0 100%; /* Use 100% of the body */
    background-color: #777;
    text-align: center;
    color: white;
    padding: auto;
}
/* End Page Structure */

/* Start Page Styling */
button {
    font-size: inhert;
    padding: 0rem 1rem;
    font-size: 120%;
    float: right;
}
/* End Page Styling */