:root {
    --text-color: black;
}

* { /* Reset margin and padding of elements to 0 */
    margin: 0;
    padding: 0;
}

body { 
    display: flex; /* Set display of the body to flex so other elements flow */
    flex-flow: row wrap; /* Default flex display to row and wrap boxes */
    gap: 1rem; /* Set default gap between flexbox objects */
    font-size: 16px;
}

header {
    flex: 0 0 100%; /* Use 100% of the body */
    background-color: #777;
}

main {
    flex: 1 0 auto;
    background-color: pink;
}

aside { 
    flex: 0 0 200px;
    background-color: pink;
}

footer {
    flex: 0 0 100%; /* Use 100% of the body */
    background-color: #777;
}