/* Color Scheme Variables */
:root {
    --sea-foam: #DAF7A6;
    --orange-light: #FFC300;
    --orange-warning: #FF5733;
    --red: #C70039;
    --wine: #900C3F;
    --plum: #581845;
}

* { /* Reset margin and padding of elements to 0 */
    margin: 0; padding: 0;
}

/* Start Reset H1-6 Properties */
    h1, h2, h3, h4, h5, h6 {
        /* Default all heading elements to have left and right padding of .5rem or ~8px */
        text-transform: uppercase;
    }
        h1 { font-size: 200%; }
        h2 { font-size: 180%; }
        h3 { font-size: 160%; }
        h4 { font-size: 140%; }
        h5 { font-size: 120%; }
        h6 { font-size: 100%; }
/* End Reset H1-6 Properties */

/* Start Page Structure */
body { 
    /* Sets default font size for elements in body to 16px */
    font-size: 16px; 
    /* Sets default font choices*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

header {
    width: 100%;
    text-align: center;
    line-height: 5rem;
    background-color: var(--orange-light);
    margin-bottom: 1rem;
}

main {
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
/* End Page Structure */



/* Start Page Styling */
button {
    padding: 0rem 1rem;
    font-size: 120%;
    background-color: var(--plum);
    color: white;
    padding: .3rem;
    border-radius: 8px;
    margin: .3rem 0;
}

button[disabled] {
    background-color: #777;
    color: #999;
}

button:hover {
    opacity: .9;
}

button[data-type="question"] {
    display: block;
    background-color: var(--wine);
    margin: .3rem 0;
    padding: .5rem .8rem;
}

#btnScoreboard {
    background-color: transparent;
    color: blue;
    border: none;
}

#btnScoreboard:hover {
    text-decoration: underline;
}

#gameBoard, #gameMessage {
    margin: auto;
    width: 700px;
    min-height: 2rem;
}

#gameMessage {
    margin-top: .5rem;
    text-align: center;
    vertical-align: baseline;
}

#gameArea {
    border: 1px solid black;
    padding: .5rem;
    box-shadow: 2px 2px 5px black;
}

#timer {
    float: right;
}

p.gameQuestionText {
    font-weight: bolder;
    font-size: 150%;
}

mark {
    background-color: transparent;
    color: var(--orange-warning);
}
/* End Page Styling */